USE [ShapeShift]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BmiResult]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BmiResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CalculationDate] [datetime] NULL,
	[Result] [decimal](10, 3) NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessage]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Name] [nvarchar](150) NULL,
	[E-mail] [nvarchar](150) NULL,
	[Topic] [nvarchar](150) NULL,
	[Message] [nvarchar](350) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exercises]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IntensityLevel] [nvarchar](50) NULL,
	[DurationMinutes] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[Goals] [nvarchar](50) NULL,
	[DifficultyLevel] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodProducts]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Protein] [decimal](5, 2) NOT NULL,
	[Fats] [decimal](5, 2) NOT NULL,
	[Carbohydrates] [decimal](5, 2) NOT NULL,
	[Calories(100g)] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meals]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Protein] [decimal](4, 1) NOT NULL,
	[Fats] [decimal](4, 1) NOT NULL,
	[Carbohydrates] [decimal](4, 1) NOT NULL,
	[Calories] [int] NOT NULL,
	[MealType] [nvarchar](50) NOT NULL,
	[Goals] [nvarchar](50) NULL,
	[Allergy] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[FoodType] [nvarchar](50) NULL,
	[ProductType] [nvarchar](50) NULL,
	[RegionTypeFood] [nvarchar](50) NULL,
	[ExcludedProducts] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PossibleAnswersDiet]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PossibleAnswersDiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerOption] [char](1) NULL,
	[AnswerText] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PossibleAnswersExercises]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PossibleAnswersExercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerOption] [char](1) NULL,
	[AnswerText] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Price] [decimal](10, 2) NULL,
	[Message] [nvarchar](150) NULL,
	[UserName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionDiet]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionDiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](500) NULL,
	[Category] [nvarchar](250) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionExercises]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionExercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](500) NULL,
	[Category] [nvarchar](250) NULL,
	[DateCreated] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MealId] [int] NOT NULL,
	[RecipeText] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswersDiet]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswersDiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChosenAnswerId] [int] NOT NULL,
	[DateAnswered] [datetime] NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswersDietCalories]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswersDietCalories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Answer] [int] NOT NULL,
	[DateAnswered] [datetime] NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswersExercises]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswersExercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChosenAnswerId] [int] NOT NULL,
	[DateAnswered] [datetime] NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCaloriesNeeded]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCaloriesNeeded](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewCaloriesDate] [datetime] NULL,
	[CaloriesNeededResult] [decimal](10, 2) NULL,
	[UserName] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCaloriesResult]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCaloriesResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewCaloriesDate] [datetime] NULL,
	[ProductId] [int] NULL,
	[Calories] [decimal](10, 2) NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserCaloriesResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserChatMessages]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[Date] [datetime] NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExerciseSets]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExerciseSets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[ExerciseSetId] [int] NOT NULL,
	[DateAssigned] [datetime] NOT NULL,
	[TrainingDay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMealSets]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMealSets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[BreakfastId] [int] NULL,
	[LunchId] [int] NULL,
	[DinnerId] [int] NULL,
	[MealDay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weight]    Script Date: 28.04.2024 15:48:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WeightDate] [datetime] NULL,
	[UserWeight] [decimal](10, 2) NULL,
	[GoalWeight] [decimal](10, 2) NULL,
	[UserName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'7.0.15')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'1fe42030-cc0b-4649-9919-9724a7760482', N'untus1@wp.pl', N'UNTUS1@WP.PL', N'untus1@wp.pl', N'UNTUS1@WP.PL', 1, N'AQAAAAIAAYagAAAAENLK+oSj6t7SKLX+1d4lE7EitcfuT/kz6bT2jfvDRVEvEoFf5nJkYAFlzXeUufbyNg==', N'G62HS3HDQFJBMVM6IAOM4WJTN4PPC7SC', N'9a183121-cd64-4530-9f52-0325cf1c1061', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'251210d5-4413-45a0-b8ad-7331cfa95a99', N'gfs@wp.pl', N'GFS@WP.PL', N'gfs@wp.pl', N'GFS@WP.PL', 1, N'AQAAAAIAAYagAAAAEAwdX43LGwizdVuImJBgpYTAS8xIr6DHRm/1cTFoo+lDxUSK0YEq1PusqG3hj8qs/A==', N'ETV5VNY7O25EMIB6YCMI3C472F65MUKO', N'e27fde5f-3739-4106-9baa-80e05f86615a', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[BmiResult] ON 

INSERT [dbo].[BmiResult] ([Id], [CalculationDate], [Result], [UserName]) VALUES (2, CAST(N'2024-02-28T13:48:47.070' AS DateTime), CAST(21.200 AS Decimal(10, 3)), N'test@wp.pl')
INSERT [dbo].[BmiResult] ([Id], [CalculationDate], [Result], [UserName]) VALUES (56, CAST(N'2024-03-01T17:55:40.387' AS DateTime), CAST(24.380 AS Decimal(10, 3)), N'test@wp.pl')
INSERT [dbo].[BmiResult] ([Id], [CalculationDate], [Result], [UserName]) VALUES (59, CAST(N'2024-03-03T13:45:53.813' AS DateTime), CAST(28.000 AS Decimal(10, 3)), N'test@wp.pl')
SET IDENTITY_INSERT [dbo].[BmiResult] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessage] ON 

INSERT [dbo].[ContactMessage] ([Id], [Date], [Name], [E-mail], [Topic], [Message]) VALUES (1, CAST(N'2024-03-19T11:56:49.030' AS DateTime), N'Dawid', N'd_garncarek@wp.pl', N'Dieta', N'mam prośbe')
INSERT [dbo].[ContactMessage] ([Id], [Date], [Name], [E-mail], [Topic], [Message]) VALUES (2, CAST(N'2024-03-19T12:03:12.060' AS DateTime), N'asdasd', N'sadas', N'asdasd', N'adsasd')
INSERT [dbo].[ContactMessage] ([Id], [Date], [Name], [E-mail], [Topic], [Message]) VALUES (3, CAST(N'2024-04-07T12:23:21.077' AS DateTime), N'Dawid', N'untus1@wp.pl', N'Działanie bazy', N'Działa?')
SET IDENTITY_INSERT [dbo].[ContactMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Exercises] ON 

INSERT [dbo].[Exercises] ([Id], [Name], [Description], [IntensityLevel], [DurationMinutes], [Location], [Goals], [DifficultyLevel]) VALUES (1, N'Burpees', N'Rozpocznij w pozycji stojącej, następnie przeskocz do pozycji przysiadu z rękoma na ziemi. Wyskocz do tyłu w pozycję plank, wykonaj pompkę, wróć do przysiadu i skocz w górę z uniesieniem rąk.', N'Wysoka', 1, N'Pomieszczenie', N'Utrata wagi', N'Zaawansowany')
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [IntensityLevel], [DurationMinutes], [Location], [Goals], [DifficultyLevel]) VALUES (2, N'Plank', N'Połóż się płasko na brzuchu, opierając ciało na przedramionach i palcach stóp. Utrzymaj ciało w prostej linii od głowy do pięt, brzuch wciągnięty. Staraj się utrzymać tę pozycję przez określony czas.', N'Średnia', 2, N'Pomieszczenie', N'Poprawa kondycji', N'Niski')
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [IntensityLevel], [DurationMinutes], [Location], [Goals], [DifficultyLevel]) VALUES (3, N'Skakanka', N'Stań prosto, trzymając uchwyty skakanki w obu rękach. Obroty skakanki wykonuj ruchami nadgarstków. Skacz, starając się unosić tylko lekko nad ziemię, lądując na przednich częściach stóp.', N'Wysoka', 3, N'Pomieszczenie', N'Utrata wagi', N'Średni')
GO
SET IDENTITY_INSERT [dbo].[Exercises] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodProducts] ON 

INSERT [dbo].[FoodProducts] ([Id], [ProductName], [Protein], [Fats], [Carbohydrates], [Calories(100g)]) VALUES (1, N'Jabłko', CAST(0.26 AS Decimal(5, 2)), CAST(0.17 AS Decimal(5, 2)), CAST(13.81 AS Decimal(5, 2)), CAST(52.00 AS Decimal(5, 2)))
INSERT [dbo].[FoodProducts] ([Id], [ProductName], [Protein], [Fats], [Carbohydrates], [Calories(100g)]) VALUES (2, N'Chleb pełnoziarnisty', CAST(13.00 AS Decimal(5, 2)), CAST(3.00 AS Decimal(5, 2)), CAST(41.00 AS Decimal(5, 2)), CAST(247.00 AS Decimal(5, 2)))
INSERT [dbo].[FoodProducts] ([Id], [ProductName], [Protein], [Fats], [Carbohydrates], [Calories(100g)]) VALUES (3, N'Pierś z kurczaka', CAST(31.00 AS Decimal(5, 2)), CAST(3.60 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(165.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[FoodProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Meals] ON 

INSERT [dbo].[Meals] ([Id], [Name], [Protein], [Fats], [Carbohydrates], [Calories], [MealType], [Goals], [Allergy], [Type], [FoodType], [ProductType], [RegionTypeFood], [ExcludedProducts]) VALUES (1, N'Owsianka z orzechami i miodem', CAST(8.0 AS Decimal(4, 1)), CAST(10.0 AS Decimal(4, 1)), CAST(50.0 AS Decimal(4, 1)), 350, N'Breakfast', N'Utrzymanie zdrowia', N'Orzechy', N'Bezglutenowa', N'Produkty zbożowe', N'Istotne', N'Brak', N'Nie')
INSERT [dbo].[Meals] ([Id], [Name], [Protein], [Fats], [Carbohydrates], [Calories], [MealType], [Goals], [Allergy], [Type], [FoodType], [ProductType], [RegionTypeFood], [ExcludedProducts]) VALUES (2, N'Owsianka z orzechami i miodem', CAST(8.0 AS Decimal(4, 1)), CAST(10.0 AS Decimal(4, 1)), CAST(50.0 AS Decimal(4, 1)), 350, N'Breakfast', N'Utrzymanie zdrowia', N'Orzechy', N'Bezglutenowa', N'Produkty zbożowe', N'Nie Istotne', N'Brak', N'Nie')
INSERT [dbo].[Meals] ([Id], [Name], [Protein], [Fats], [Carbohydrates], [Calories], [MealType], [Goals], [Allergy], [Type], [FoodType], [ProductType], [RegionTypeFood], [ExcludedProducts]) VALUES (3, N'Smoothie warzywne', CAST(5.0 AS Decimal(4, 1)), CAST(2.0 AS Decimal(4, 1)), CAST(30.0 AS Decimal(4, 1)), 200, N'Breakfast', N'Utrata Wagi', N'Brak', N'Wegetariańska', N'Warzywa', N'Nie istotne', N'Brak', N'Cukry proste')
SET IDENTITY_INSERT [dbo].[Meals] OFF
GO
SET IDENTITY_INSERT [dbo].[PossibleAnswersDiet] ON 

INSERT [dbo].[PossibleAnswersDiet] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (1, 1, N'A', N'Utrata Wagi')
INSERT [dbo].[PossibleAnswersDiet] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (2, 1, N'B', N'Poprawa samopoczucia')
INSERT [dbo].[PossibleAnswersDiet] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (3, 1, N'C', N'Utrzymanie zdrowia')
SET IDENTITY_INSERT [dbo].[PossibleAnswersDiet] OFF
GO
SET IDENTITY_INSERT [dbo].[PossibleAnswersExercises] ON 

INSERT [dbo].[PossibleAnswersExercises] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (1, 1, N'A', N'Bardzo niski - prawie w ogóle nie ćwiczę')
INSERT [dbo].[PossibleAnswersExercises] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (2, 1, N'B', N'Niski - czasami chodzę na spacery')
INSERT [dbo].[PossibleAnswersExercises] ([Id], [QuestionId], [AnswerOption], [AnswerText]) VALUES (3, 1, N'C', N'Średni - regularnie ćwiczę kilka razy w tygodniu')
SET IDENTITY_INSERT [dbo].[PossibleAnswersExercises] OFF
GO
SET IDENTITY_INSERT [dbo].[Price] ON 

INSERT [dbo].[Price] ([Id], [Date], [Price], [Message], [UserName]) VALUES (1, CAST(N'2024-03-13T10:46:05.427' AS DateTime), CAST(19.99 AS Decimal(10, 2)), N'Użytkownik test@wp.pl podarował 19,99 zł na naszą aplikację.', N'test@wp.pl')
INSERT [dbo].[Price] ([Id], [Date], [Price], [Message], [UserName]) VALUES (2, CAST(N'2024-03-13T10:46:52.193' AS DateTime), CAST(19.99 AS Decimal(10, 2)), N'Użytkownik test@wp.pl podarował 19,99 zł na naszą aplikację.', N'test@wp.pl')
INSERT [dbo].[Price] ([Id], [Date], [Price], [Message], [UserName]) VALUES (3, CAST(N'2024-03-13T10:47:42.740' AS DateTime), CAST(19.99 AS Decimal(10, 2)), N'Użytkownik test@wp.pl podarował 19,99 zł na naszą aplikację.', N'test@wp.pl')
SET IDENTITY_INSERT [dbo].[Price] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionDiet] ON 

INSERT [dbo].[QuestionDiet] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (1, N'Jakie są Twoje główne cele żywieniowe?', N'Goals', CAST(N'2024-04-16T16:26:21.557' AS DateTime), 1)
INSERT [dbo].[QuestionDiet] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (2, N'Czy masz jakieś alergie pokarmowe lub nietolerancje??', N'Allergy', CAST(N'2024-04-16T16:26:21.570' AS DateTime), 1)
INSERT [dbo].[QuestionDiet] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (3, N'Czy preferujesz jakąś określoną dietę?', N'Type', CAST(N'2024-04-16T16:26:21.570' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[QuestionDiet] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionExercises] ON 

INSERT [dbo].[QuestionExercises] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (1, N'Jak oceniasz swój obecny poziom aktywności fizycznej?', N'Activity rating', CAST(N'2024-04-11T17:26:01.120' AS DateTime), 1)
INSERT [dbo].[QuestionExercises] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (2, N'Ile razy w tygodniu jesteś w stanie poświęcić czas na ćwiczenia?', N'Availability', CAST(N'2024-04-11T17:26:01.120' AS DateTime), 1)
INSERT [dbo].[QuestionExercises] ([Id], [QuestionText], [Category], [DateCreated], [IsActive]) VALUES (3, N'Jakie są Twoje główne cele odchudzania?', N'Goals', CAST(N'2024-04-11T17:26:01.120' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[QuestionExercises] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Id], [MealId], [RecipeText]) VALUES (1, 1, N'1. Wymieszaj płatki owsiane z mlekiem lub wodą i gotuj na średnim ogniu. 2. Dodaj szczyptę soli i miód do smaku. 3. Posyp gotową owsiankę orzechami.')
INSERT [dbo].[Recipes] ([Id], [MealId], [RecipeText]) VALUES (2, 2, N'1. Wymieszaj płatki owsiane z mlekiem lub wodą i gotuj na średnim ogniu. 2. Dodaj szczyptę soli i miód do smaku. 3. Posyp gotową owsiankę orzechami.')
INSERT [dbo].[Recipes] ([Id], [MealId], [RecipeText]) VALUES (3, 3, N'1. Włóż wszystkie warzywa i owoce do blendera. 2. Dodaj trochę wody lub mleka roślinnego, aby ułatwić miksowanie. 3. Mieszaj do uzyskania gładkiej konsystencji.')
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswersDiet] ON 

INSERT [dbo].[UserAnswersDiet] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (431, 1, 41, CAST(N'2024-04-23T10:59:39.837' AS DateTime), N'untus1@wp.pl')
INSERT [dbo].[UserAnswersDiet] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (432, 2, 8, CAST(N'2024-04-23T10:59:39.843' AS DateTime), N'untus1@wp.pl')
INSERT [dbo].[UserAnswersDiet] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (433, 3, 13, CAST(N'2024-04-23T10:59:39.847' AS DateTime), N'untus1@wp.pl')
SET IDENTITY_INSERT [dbo].[UserAnswersDiet] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswersDietCalories] ON 

INSERT [dbo].[UserAnswersDietCalories] ([Id], [QuestionId], [Answer], [DateAnswered], [UserName]) VALUES (44, 12, 1000, CAST(N'2024-04-23T10:59:39.980' AS DateTime), N'untus1@wp.pl')
SET IDENTITY_INSERT [dbo].[UserAnswersDietCalories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswersExercises] ON 

INSERT [dbo].[UserAnswersExercises] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (1372, 1, 1, CAST(N'2024-04-15T16:08:34.660' AS DateTime), N'test@wp.pl')
INSERT [dbo].[UserAnswersExercises] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (1373, 2, 5, CAST(N'2024-04-15T16:08:34.667' AS DateTime), N'test@wp.pl')
INSERT [dbo].[UserAnswersExercises] ([Id], [QuestionId], [ChosenAnswerId], [DateAnswered], [UserName]) VALUES (1374, 3, 24, CAST(N'2024-04-15T16:08:34.667' AS DateTime), N'test@wp.pl')
SET IDENTITY_INSERT [dbo].[UserAnswersExercises] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCaloriesNeeded] ON 

INSERT [dbo].[UserCaloriesNeeded] ([Id], [NewCaloriesDate], [CaloriesNeededResult], [UserName]) VALUES (9, CAST(N'2024-04-04T10:31:04.053' AS DateTime), CAST(1500.00 AS Decimal(10, 2)), N'test@wp.pl')
INSERT [dbo].[UserCaloriesNeeded] ([Id], [NewCaloriesDate], [CaloriesNeededResult], [UserName]) VALUES (1009, CAST(N'2024-04-28T13:27:30.583' AS DateTime), CAST(1000.00 AS Decimal(10, 2)), N'untus1@wp.pl')
SET IDENTITY_INSERT [dbo].[UserCaloriesNeeded] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCaloriesResult] ON 

INSERT [dbo].[UserCaloriesResult] ([Id], [NewCaloriesDate], [ProductId], [Calories], [UserName]) VALUES (1, CAST(N'2024-03-25T13:02:21.643' AS DateTime), 3, CAST(132.00 AS Decimal(10, 2)), N'untus1@wp.pl')
INSERT [dbo].[UserCaloriesResult] ([Id], [NewCaloriesDate], [ProductId], [Calories], [UserName]) VALUES (2, CAST(N'2024-03-25T13:02:47.277' AS DateTime), 3, CAST(165.00 AS Decimal(10, 2)), N'untus1@wp.pl')
INSERT [dbo].[UserCaloriesResult] ([Id], [NewCaloriesDate], [ProductId], [Calories], [UserName]) VALUES (3, CAST(N'2024-03-25T13:08:55.083' AS DateTime), 3, CAST(148.50 AS Decimal(10, 2)), N'untus1@wp.pl')
SET IDENTITY_INSERT [dbo].[UserCaloriesResult] OFF
GO
SET IDENTITY_INSERT [dbo].[UserChatMessages] ON 

INSERT [dbo].[UserChatMessages] ([Id], [MessageText], [Date], [UserName]) VALUES (8, N'"Cześć wszystkim! Czy ma ktoś doświadczenie z dietą ketogeniczną? Chciałbym spróbować, ale nie wiem od czego zacząć."', CAST(N'2024-04-28T15:42:47.003' AS DateTime), N'untus1@wp.pl')
INSERT [dbo].[UserChatMessages] ([Id], [MessageText], [Date], [UserName]) VALUES (9, N'Jakie ćwiczenia polecacie dla początkujących w siłowni?', CAST(N'2024-04-28T15:44:33.483' AS DateTime), N'd_garncarek@wp.pl')
INSERT [dbo].[UserChatMessages] ([Id], [MessageText], [Date], [UserName]) VALUES (10, N'Czy ktoś może polecić dobry sposób na zwiększenie liczby kroków w ciągu dnia?', CAST(N'2024-04-28T15:44:45.373' AS DateTime), N'd_garncarek@wp.pl')
SET IDENTITY_INSERT [dbo].[UserChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[UserExerciseSets] ON 

INSERT [dbo].[UserExerciseSets] ([Id], [UserName], [ExerciseSetId], [DateAssigned], [TrainingDay]) VALUES (2774, N'test@wp.pl', 68, CAST(N'2024-04-15T16:08:34.683' AS DateTime), 1)
INSERT [dbo].[UserExerciseSets] ([Id], [UserName], [ExerciseSetId], [DateAssigned], [TrainingDay]) VALUES (2775, N'test@wp.pl', 72, CAST(N'2024-04-15T16:08:34.683' AS DateTime), 1)
INSERT [dbo].[UserExerciseSets] ([Id], [UserName], [ExerciseSetId], [DateAssigned], [TrainingDay]) VALUES (2776, N'test@wp.pl', 67, CAST(N'2024-04-15T16:08:34.683' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserExerciseSets] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMealSets] ON 

INSERT [dbo].[UserMealSets] ([Id], [UserName], [BreakfastId], [LunchId], [DinnerId], [MealDay]) VALUES (231, N'untus1@wp.pl', 10, 38, 54, 1)
INSERT [dbo].[UserMealSets] ([Id], [UserName], [BreakfastId], [LunchId], [DinnerId], [MealDay]) VALUES (232, N'untus1@wp.pl', 10, 25, 65, 2)
INSERT [dbo].[UserMealSets] ([Id], [UserName], [BreakfastId], [LunchId], [DinnerId], [MealDay]) VALUES (233, N'untus1@wp.pl', 10, 28, 65, 3)
SET IDENTITY_INSERT [dbo].[UserMealSets] OFF
GO
SET IDENTITY_INSERT [dbo].[Weight] ON 

INSERT [dbo].[Weight] ([Id], [WeightDate], [UserWeight], [GoalWeight], [UserName]) VALUES (47, CAST(N'2024-03-06T18:03:14.960' AS DateTime), CAST(88.00 AS Decimal(10, 2)), NULL, N'test@wp.pl')
INSERT [dbo].[Weight] ([Id], [WeightDate], [UserWeight], [GoalWeight], [UserName]) VALUES (49, CAST(N'2024-03-07T16:47:16.177' AS DateTime), CAST(89.00 AS Decimal(10, 2)), NULL, N'test@wp.pl')
INSERT [dbo].[Weight] ([Id], [WeightDate], [UserWeight], [GoalWeight], [UserName]) VALUES (50, CAST(N'2024-03-10T15:03:22.077' AS DateTime), CAST(88.00 AS Decimal(10, 2)), NULL, N'test@wp.pl')
SET IDENTITY_INSERT [dbo].[Weight] OFF
GO
ALTER TABLE [dbo].[QuestionDiet] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QuestionExercises] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PossibleAnswersDiet]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionDiet] ([Id])
GO
ALTER TABLE [dbo].[PossibleAnswersExercises]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionExercises] ([Id])
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD FOREIGN KEY([MealId])
REFERENCES [dbo].[Meals] ([Id])
GO
ALTER TABLE [dbo].[UserAnswersDiet]  WITH CHECK ADD FOREIGN KEY([ChosenAnswerId])
REFERENCES [dbo].[PossibleAnswersDiet] ([Id])
GO
ALTER TABLE [dbo].[UserAnswersDiet]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionDiet] ([Id])
GO
ALTER TABLE [dbo].[UserAnswersDietCalories]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionDiet] ([Id])
GO
ALTER TABLE [dbo].[UserAnswersExercises]  WITH CHECK ADD FOREIGN KEY([ChosenAnswerId])
REFERENCES [dbo].[PossibleAnswersExercises] ([Id])
GO
ALTER TABLE [dbo].[UserAnswersExercises]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionExercises] ([Id])
GO
ALTER TABLE [dbo].[UserCaloriesResult]  WITH CHECK ADD  CONSTRAINT [FK_UserCaloriesResult_FoodProducts] FOREIGN KEY([ProductId])
REFERENCES [dbo].[FoodProducts] ([Id])
GO
ALTER TABLE [dbo].[UserCaloriesResult] CHECK CONSTRAINT [FK_UserCaloriesResult_FoodProducts]
GO
ALTER TABLE [dbo].[UserExerciseSets]  WITH CHECK ADD FOREIGN KEY([ExerciseSetId])
REFERENCES [dbo].[Exercises] ([Id])
GO
ALTER TABLE [dbo].[UserMealSets]  WITH CHECK ADD FOREIGN KEY([BreakfastId])
REFERENCES [dbo].[Meals] ([Id])
GO
ALTER TABLE [dbo].[UserMealSets]  WITH CHECK ADD FOREIGN KEY([DinnerId])
REFERENCES [dbo].[Meals] ([Id])
GO
ALTER TABLE [dbo].[UserMealSets]  WITH CHECK ADD FOREIGN KEY([LunchId])
REFERENCES [dbo].[Meals] ([Id])
GO
