<div class="home-footer">
    <footer class="home-footer1">
        <div class="home-container4">
            <span class="home-logo2">ShapeShift</span>
            <nav class="home-nav1">
                <AuthorizeView>
                    <div class="dropdown">
                    <button class="dropbtn2">Funkcje</button>
                        <div class="dropdown-content">
                           <a href="CalculatorBMI">Kalkulator BMI</a>
                            <a href="WeightPage">Waga</a>
                            <a href="CaloriesCalculator">Kalkulator Kalorii</a>
                            <a href="Diet">Dieta</a>
                            <a href="Exercises">Ćwiczenia</a>
                        </div>
                    </div>
                    </AuthorizeView>
                <a href="AboutUs" class="home-nav12">O nas</a>
                <a href="PriceList" class="home-nav12">Cennik</a>
                <a href="OurTeam" class="home-nav12">Nasz zespół</a>
                <a href="Blog" class="home-nav12">Blog</a>
            </nav>
        </div>
        <div class="home-separator"></div>
        <div class="home-container5">
            <span class="home-text5"><ViewCopyrights></ViewCopyrights> 2024 ShapeShift, All Rights Reserved.</span>
            <div class="home-icon-group1">
                <a href="https://twitter.com/ShapeShift2137"><img alt="image" src="css/Photos/twitter.png" class="home-icon10" /></a>
                <a href="https://www.instagram.com/shapeshif8/"><img alt="image" src="css/Photos/instagram.png" class="home-icon12" /></a>
                <a href="https://www.facebook.com/profile.php?id=61558467887049"><img alt="image" src="css/Photos/facebook.png" class="home-icon14" /></a>
            </div>
        </div>
    </footer>
</div>

@code {

}
