@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

@{
    Layout = "/Pages/Shared/_IdentityEmptyLayout.cshtml";
}

<div class="box-right">
    <h1 class="box-right-nav2">@ViewData["Title"]</h1>
<p>
    Sprawdź swój e-mail w celu zmiany hasła.
</p>
<br >
    <a href="~/"><button class="back-button"><img alt="image" src="/css/Photos/icons8-left-arrow-48.png" class="home-icon10" /></button></a>
</div>
