@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

@{
    Layout = "/Pages/Shared/_IdentityEmptyLayout.cshtml";
}

<div class="box-right">
        <form method="post">
        <h1 class="box-right-nav2">@ViewData["Title"]</h1>
        <h5 class="box-right-nav3">Wprowadź e-mail</h5>
        <div class="login-input">
            <div asp-validation-summary="ModelOnly" class="error-text" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="email" autocomplete="username" aria-required="true" placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="error-text"></span>
            </div>
            </div>
            <br>
        <button type="submit" class="login-button">Reset</button>
        </form>
    <a href="~/"><button class="back-button"><img alt="image" src="/css/Photos/icons8-left-arrow-48.png" class="home-icon10" /></button></a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
